---
title: Rachel J Graves, UX Engineer / UX Designer / UX Researcher
layout: default
---

<section class="casehero">
  	<div class="container -right">	
  		<div class="-col">
			<h1>Work with me</h1>
  		</div>
  		<div class="-col">

			<h2>Offer</h2>
			<p>I am offering 12 hours of my time to work pro-bono as a user experience researcher/designer on projects that:</p>
			<ul>
				<li>Are for a good cause.</li> 
				<li>Help marginalised groups for example people who are LGBTQIA.</li>
				<li>Promote veganism/plant-based eating.</li>
				<li>Help the environment.</li>
			</ul>
			<h2>Opportunity</h2>
			<p>By working with me I can help:</p>

			<ul>
				<li>Ensure you're creating right product</li>
				<li>Better understand & target your audience.</li>
				<li>Find new opportunities to expand.</li>
				<li>Improve usability and accessability.</li>
			</ul>

			<h2>Benefits</h2>
			<ul>
				<li>Increased Signups.</li>
				<li>Customer Retention</li>
			</ul>

		</div>
	</div> <!-- .container -->
</section>

<section class="about -fullscreen" id="about">
	<div class="container">
		<div class="-flexbox -flexwrap -flex-evenly">
			<div class="flexcol"><div class="avatar"></div>
		</div>
				
			<div class="flexcol">
				<h2>About Me</h2>
				<p>
					I am a User Experience Designer based in London and have worked in technology for over a decade.  Before moving into User Experience I worked as a Software Engineer and Systems Administrator. I have worked at a number of brands and companies, including Babylon Health, the Money Advice Service, Dachis Group and Comic Relief.
				</p>
				<p>
					My interest is  in products that promote better standards of living, health and wellbeing, through healthcare, government or finance. I advocate for inclusive research and design and believe that designing for people of all backgrounds and abilities helps produce better products for everyone. I am queer, transgender and have a hidden disability so I understand the importance through my lived experiences.
				</p>
			</div>
		</div> <!-- .-flexbox .-flexwrap -->

	</div> <!-- div.container -->

</section> <!-- section.about -->

<section class="skills -fullscreen" id="skills">
	<div class="container">
				
				<h2>Skills</h2>
					<ul class="skills">

						<li>Qualitative & Quantitative Research</li>
						<li>User & Usability Testing</li>
						<li>Information Architecture</li>
						<li>Competitive Analysis</li>
						<li>Wireframing</li>
						<li>Interaction Design</li>
						<li>Front & Backend Development</li>
						<li>Systems Administration</li>
						<li>Agile & Lean Methodologies</li>
						<li>Workshop Facilitation</li>
						<li>Project Management</li>
						<li>Client Presentations</li>
						<li>Coaching</li>
					</ul>
			</div>
		</div> <!-- .-flexbox .-flexwrap -->

	</div> <!-- div.container -->

</section> <!-- section.about -->

<section class="process -fullscreen" id="process">
	<div class="container">
				
				<h2>Process</h2>

			</div>
		</div> 

	</div> <!-- div.container -->

</section> <!-- section.process -->

{% include portfolio.html %}

{% include footer.html %}