
		<div class="-flexbox -flexwrap">
			<a href="https://linkedin.com/in/racheljgraves/">
				<div class="method">
					<div class="linkedin contact-icon">
						{% include linkedin.svg %}
					</div>
					<div>
						<h3>LinkedIn</h3>
						<p>@racheljgraves</p>
					</div>
				</div> <!-- div.method -->
			</a>
			<a href="mailto:rachel@didlix.net">
				<div class="method">
					<div class="email contact-icon">
						{% include email.svg %}
					</div>
					<div>
						<h3>Email</h3>
						<p>hello@racheljgraves.co.uk</p>
					</div>
				</div> <!-- div.method -->
			</a>

		</div> <!-- div.-flexbox.-flexwrap -->

