
html {
  font-family: Lato;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

main {

}

section, footer {
  padding: 4rem 0;
}

section.-background {
  background: hsla(33, 5%, 68%, 0.2);
}

.container {
  width: 85%;
  max-width: 960px;
  margin: 0 auto;
}

.-proto-picture {
  background: grey;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.-max-width {
  width: 100%;
  min-width: 310px;
}

.-flexbox {
  display: flex;
  align-items: stretch;
}

.-flex-between {
  justify-content: space-between;
}

.-flexwrap {
  flex-wrap: wrap;
}

.-flex-center {
  justify-content: center;
}

.-flex-evenly {
  justify-content: space-evenly;
}

.-grid {
  display: grid;
  grid-gap: 1rem;
  /*grid-template-rows: 12px 12px 12px;*/
}

.-halfs {
  grid-template-columns: 1fr 1fr;
}

.-thirds {
  grid-template-columns: 1fr 1fr 1fr;
}




.-grow2 {
  flex-grow: 2;
}

.-grow1 {
  flex-grow: 1;
}


h1 {
  margin-top: 1.4rem;
}

h2 {
  font-size: 3.1rem;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

h2:after {
    content: "";
    display: block;
    width: 50px;
    padding-top: 10px; 
    border-bottom: 3px solid black; 
}

h3 {
  font-size: 2.1rem;
  margin: 1.2rem 0  ;
}

h4 {
  font-size: 1.1rem;
  margin-top: 1.1rem;
  font-family: Raleway;
}

a {
  text-decoration: none;
  color: hsla(27, 86%, 64%, 1); 
  transition: all .2s ease-in;
}

a:hover {
  color: hsla(27, 86%, 44%, 1);
}

p, li, a {
  font-size: 1.7rem;
}

ul, li {
  font-family: Raleway;
}

main.casestudy img {
    margin: 1rem 0;
}

p, li {
  font-family: Raleway;
  font-weight: 300;
  line-height: 3rem;
  max-width: 680px;
}

p {
  margin: 0 0 3rem 0;
}

blockquote {
  font-size: 4rem;
  font-style: italic;
  padding: 3rem 4rem;
  line-height: 4rem;
}

blockquote:after {
  border-bottom: 1px solid lightgrey;
  width: 50%;
  display: block;
  content: "";
  margin: 20px auto;
}


.col {
  /*width: 400px;*/
  padding: 0 10px 0 20px;
  margin-right: 20px;
  max-width: 60%;
}

.-dashed-border-left {
  border-left: 1px;
  border-style: dashed;
  border-color: grey;
  padding-left: 10px;
}

.-half {
  width: 60%;
}

div.story div {
  max-width: 50%;
  min-width: 200px;
}
.story {
  max-width: 50%;
}
.phase .row {
  flex-direction: row-reverse;
}

.portfolio div.container div.-flexbox {
  justify-content: space-evenly;
}



footer {

}

section.about p, footer p, .-col {
  max-width: 480px;
}

section.portfolio .casestudy {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  min-height: 100%;
}



.education:hover, .role:hover {
  cursor: pointer;
}
.education,
.experience {
  width: 48%;
  min-width: 350px;
}
.placement,
.role {
  min-width: 200px;
  min-height: 65px;
  margin-bottom: 10px;
  /*width: 45%;*/
  padding: 14px 11px;
  background-color: hsla(33, 5%, 68%, 0.2);
  border-radius: 5px;
  border-bottom-left-radius: 0;

}

.placement,
.role,
section.portfolio .casestudy {
  position: relative;
  top: 0;
  transition: all .2s ease-in;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  border-bottom-left-radius: 0;
}

.placement:hover,
.role:hover,
section.portfolio .casestudy:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.method {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 7px;
  max-width: 200px;
}

.method p {
  margin: 0;
}
.method h3 {
  margin: 0;
}

/*a:hover .method svg {
  filter: drop-shadow(0 4px 5px rgba(0,0,0,0.2));
}*/

section.hero, section.-fullscreen {
  height: 100vh;
    display: flex;
  flex-direction: column;
  justify-content: center;
}
section.hero, .-greybg {
    background-color: hsla(33, 5%, 68%, 0.2);
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.hero h1 {
  font-size: 13rem;
}

section.about div.-flexbox div.flexcol {
  margin-right: 20px;
}

.method {
  transition: all .2s ease-in;
}
.contact-icon {
  height: 5rem;
  width: 4rem;
  transition: all .2s ease-in;
}

a:hover .contact-icon {
  height: 5.5rem;
  width: 4.5rem;
}

.method {
  min-height: 5.5rem;
}

.casestudy {
  background-color: #F9F9F9;
  overflow: hidden;
}

.casestudy h3 {
  padding: 1rem;
}

.casestudy .-proto-picture {
  border-radius: 0;
}

.avatar {
  background-image: url('/images/racheljgraves.avatar.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.avatar-small {
  background-image: url('/images/racheljgraves.avatar-small.jpg');
  width: 150px;
  height: 150px;
  background-size: auto;
}

.-columnreverse {
  flex-direction: column-reverse;
}

main.casestudy img {
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.portfolio-grid {
  display: grid;
  grid-template-columns: 66% 33%;
  /*grid-column-gap: 7px;*/
  justify-content: stretch;
  /*max-width: 200px;*/
}

/*.portfolio-grid img:first-of-type {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 660px;
  
  width: auto; height: auto;
}*/

.portfolio-grid img:first-of-type {
  grid-row-start: span 2;
  max-width: 90%;
}


.portfolio-grid img {
  max-width: 90%;
}

@media (max-width: 1050px) { 
  .-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) { 
  .-grid, .portfolio-grid {
    grid-template-columns: 1fr;
  }
  section.hero h1 {
    font-size: 4rem;
  }
  .casestudy img {
    max-width:100%;
  }

  div.education, div.experience {
    max-width: 100%;
    min-width: 100%;
  }

  section.about div.-flexbox div.flexcol {
    margin-right: 0px;
  }
  section.-fullscreen, section.hero {
    height: auto;
  }
}

