
html {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}

main {

}

section.-background {
  background: lightgrey;
}

.container {
  width: 85%;
  max-width: 960px;
  margin: 0 auto;
}

.-proto-picture {
  background: grey;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-top: 1.2rem;
}

.-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

}

.-flexwrap {
  flex-wrap: wrap;
}

.-grow2 {
  flex-grow: 2;
}

.-grow1 {
  flex-grow: 1;
}


h1 {
  font-size: 1.7rem;
  margin-top: 1.4rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.3rem;
  border-bottom: ;
}

h2:after {
    content: "";
    display: block;
    width: 5%;
    padding-top: 10px; 
    border-bottom: 3px solid black; 
}


h3 {
  font-size: 1.3rem;
  margin: 1.2rem 0  ;
}

h4 {
  font-size: 1.1rem;
  margin-top: 1.1rem;
  font-family: Raleway;
}

p {
  font-family: Raleway;
  margin: 1rem 0;
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 1.5rem;
}

.col {
  /*width: 400px;*/
  padding: 0 10px 0 20px;
  margin-right: 20px;
  max-width: 60%;
}

.-dashed-border-left {
  border-left: 1px;
  border-style: dashed;
  border-color: grey;
  padding-left: 10px;
}

.-half {
  width: 60%;
}

div.story div {
  max-width: 50%;
  min-width: 200px;
}
.story {
  max-width: 50%;
}
.phase .row {
  flex-direction: row-reverse;
}