
html {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}

.-proto-picture {
  background: grey;
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.-flexbox {
  display: flex;
  justify-content: space-around;

}

.-flexwrap {
  flex-wrap: wrap;
}

main {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 1.7rem;
  margin-top: 1.4rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.3rem;
  border-bottom: ;
}

h2:after {
    content: "";
    display: block;
    width: 5%;
    padding-top: 10px; 
    border-bottom: 3px solid black; 
}


h3 {
  font-size: 1.3rem;
  margin-top: 1.2rem;
}

h4 {
  font-size: 1.1rem;
  margin-top: 1.1rem;
  font-family: Raleway;
}

p {
  font-family: Raleway;
  margin: 1rem 0;
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 1.2rem;
}

.col {
  width: 200px;
  padding: 0 10px 0 20px;
  margin-right: 20px;
}

.-dashed-border-left {
  border-left: 1px;
  border-style: dashed;
  border-color: grey;
  padding-left: 10px;
}