
html {
  font-family: Lato;
}

.-flexbox {
  display: flex;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}