<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    <header>
      <div class="container">
        <span class="header">Rachel J Graves</span> <span><a href="/">Home</a> | <a href="#contact">Contact</a></span>
      </div>
    </header>

    <main class="casestudy">
         {{ content }}
    </main>

    <footer class="-greybg">
      <div class="container">

        <div class="-flexbox -flexwrap -flex-evenly personal-statement">
          
          <div class="flexcol">
            <div class="avatar"></div>
            <h2>Rachel J Graves</h2> 
          </div>
          <div class="flexcol">
            <p>Rachel is a User Experience Designer based in London. She has over a decade of experience working in technology across multiple sectors and brands, having previously worked as a Software Engineer and Systems Administrator. She has previously worked at Babylon Health, the Money Advice Service, Dachis Group and Comic Relief.</p>

            <p>She is interested in products that promote better standards of living, health and wellbeing, through healthcare, government or finance. She is interested in inclusive research and design and believes that designing for people of all backgrounds and abilities helps produce better products for everyone. </p>
          </div>

          {% include contact.html %}
        </div>


      </div>
    </footer>
  </body>
</html>