<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    <header></header>

    <main>

         {{ content }}

    </main>

    <footer class="-greybg">
      <div class="container">

        <div class="-flexbox -flexwrap -flex-evenly">
          <div class="-proto-picture flexcol avatar"></div>
          <div class="flexcol">
            <p>Rachel is a User Experience Designer based in London. She has over a decade of experience in Technology and has previously worked as a Software Engineer, and Systems Administrator for various companies and brands including, Comic Relief, the Money Advice Service and Babylon Health.</p>

              <p>She has worked in all stages of a project from discovery and planning, through to delivery. Leading workshops. Mentoring junior members of her team, Rachel is an instigator and has helped startups implement modern team working practices, like Slack, Scrum, Other such things.</p>

              <p>She also has two qualifications in specialty coffee and would be happy to consult on having better coffee at your oganisation.</p>
          </div>
        </div>
        </div>
    </footer>
  </body>
</html>